VITE_API_BASE_URL=/api
VITE_WS_URL=
VITE_DEFAULT_SEARCH_POSTCODE=IG11 7FR

VITE_CLOUDINARY_API_KEY=
VITE_CLOUDINARY_API_SECRET=
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_FOLDER=
VITE_CLOUDINARY_UPLOAD_PRESET=